In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('/Users/rashmisingh/Documents/GitHub/BAP/code/default_seats_experiment_data_sandbox.csv')

In [3]:
df.head()

   Unnamed: 0      user_id treatment_group  seats_purchased  user_purchased
0           0  18661343440       treatment                0               0
1           1  12383779858         control                3               1
2           2  21380921198     treatment_B                0               0
3           3  14932979248         control                0               0
4           4  21226245936         control                1               1

In [5]:
n = len(pd.unique(df['user_id']))
n

2105